<html data-ng-app="workspaceApp" ng-csp="">
    <head>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/popup.css">
        <link rel="stylesheet" href="css/libs/bootstrap.min.css">

        <!-- JS -->
        <script src="js/libs/angular-1.1.0.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
        <script src="js/popup.js"></script>

    </head>
    <body data-ng-controller="workspaceAppController">
        <!-- Header -->
        <h5>
            <div style="text-align: center">
                <div style="display: inline-block;">Workspace Organiser</div>
            </div>
        </h5>
        <ul class="list-group">
            <!-- When no workspaces creted -->
            <div ng-show="!hasWorkspaces()">No workspaces</div>

            <!-- List of workspaces -->
            <li ng-repeat="(name, data) in workspacesMetadata.workspaces"
                ng-class="{'list-group-item-success': (name==workspacesMetadata.currentWorkspaceName), 'list-group-item-info': hover}"
                class="list-group-item row"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                <span class="col-xs-5 col-xs-offset-1"
                      ng-hide="edit">
                    {{name}}
                </span>
                <span class="col-xs-5 col-xs-offset-1"
                      ng-hide="!edit">
                    <input value="{{name}}" ng-model="name" ng-change="editName(name)">
                </span>
                <span class="col-xs-2 edit"
                      ng-click="edit = !edit"
                      ng-hide="name!=workspacesMetadata.currentWorkspaceName">
                    <img src="img/edit.png" />
                </span>
                <span class="col-xs-2 delete"
                      ng-click="delete(name)"
                      ng-hide="name!=workspacesMetadata.currentWorkspaceName">
                    <img src="img/delete.png" />
                </span>
                <span class="col-xs-2 refresh"
                      ng-click="saveWorkspace(name)"
                      ng-hide="name!=workspacesMetadata.currentWorkspaceName">
                    <img src="img/refresh.png" />
                </span>

                <span class="col-xs-3 open"
                      ng-hide="name==workspacesMetadata.currentWorkspaceName || !hover"
                      ng-click="name!=workspacesMetadata.currentWorkspaceName && switchWorkspace(name)">
                    <img src="img/open.png" />
                </span>
                <span class="col-xs-3 delete"
                      ng-click="delete(name)"
                      ng-hide="name==workspacesMetadata.currentWorkspaceName || !hover">
                    <img src="img/delete.png" />
                </span>

            </li>
        </ul>

        <!-- Settings panel -->
        <hr />
        <div style="text-align: center">

            <!-- Create new workspace from current windows-->
            <div class="row" style="display: inline-block;">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"
                        ng-show="hasWorkspaces()"
                        ng-click="createNewWorkspace(newWorkspaceName)">
                    Create new
                </button>
                <button class="btn btn-primary" type="button"
                        ng-show="!hasWorkspaces()"
                        ng-click="saveWorkspace(newWorkspaceName)">
                    Save new workspace
                </button>
            </span>
                        <input type="text" class="form-control" placeholder="Name" ng-model="newWorkspaceName">
                    </div>
                </div>
            </div>

            <!--TODO-->
            <!-- Automatically update the current workspace-->
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="automaticallyUpdate">
                    Automatically update
                </label>
            </div>
        </div>
    </body>
</html>